doctype html
html(ng-app="retroboardApp")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Retroboard
        meta(name="viewport", content="width=device-width, initial-scale=1")

        script(type="text/javascript", src="js/vendor/jquery-1.10.2.min.js")
        script(type="text/javascript", src="js/vendor/angular.min.js")
        script(type="text/javascript", src="js/vendor/angular-cookies.min.js")

        script(type="text/javascript", src="js/common.js")

        script(type="text/javascript", src="js/model/retroboard.js")
        script(type="text/javascript", src="js/model/feedbacknote.js")
        script(type="text/javascript", src="js/model/actionitem.js")
        script(type="text/javascript", src="js/main.js")
        script(type="text/javascript", src="js/userService.js")
        script(type="text/javascript", src="js/boardService.js")
        script(type="text/javascript", src="js/messengerService.js")
        script(type="text/javascript", src="js/retroboardController.js")
        script(type="text/javascript", src="js/noteController.js")

        script(type="text/javascript", src="js/vendor/jquery-ui-1.10.4.custom.min.js")

        link(rel="stylesheet", href="css/south-street/jquery-ui-1.10.4.custom.min.css")
        link(rel="stylesheet", href="css/main.css")
    body(ng-controller="RetroboardController")
        header
            h1#title
                {{boardName}}
                a.jiraIssuesLink(ng-show="jiraUrl" ng-href="{{jiraUrl}}", target="_blank") JIRA issues

            .overlayPanelContainer(ng-style="{zIndex: topLevel + 2}")
                #retroboardOptions(ng-show="owner")
                    .retroboardOptionFields(ng-show="showRetroboardOptions")
                        fieldset
                            legend {{boardName}}
                            input#jiraUrl(type="text", placeholder="JIRA Url", ng-model="jiraUrl")
                            span(ng-click="saveRetroboardOptions()", rb-button) Save
                        fieldset
                            legend Statistics
                            table: tbody
                                tr
                                    th Total Action Items
                                    td {{actionItems.length}}
                                tr
                                    th Total Notes
                                    td {{notes.length}}
                                tr
                                    th Total Votes
                                    td {{totalVotes}}
                .overlayPanelActionsContainer(ng-style="{  zIndex: topLevel + 3}")
                    #overlayPanelActions
                        #actionShowButton(ng-click="toggleActionItems()", ng-show="!showRetroboardOptions") Action Items
                        #retroboardShowOptionsButton(ng-click="toggleRetroboardOptions()", ng-show="!showActionItems && owner") Options & Stats
        section#feedbackSection
            .feedbackNote.ui-state-highlight.ui-corner-all(ng-repeat="note in notes", ng-controller="NoteController", id="{{note.id}}", rb-note ng-class="getClass()", ng-style="getStyle()")
                .feedbackNote-Text {{note.text}}
                .feedbackNote-Controls
                    span.feedbackNote-Delete(rb-button, button-icon="ui-icon-trash", ng-show="note.owner", ng-click="delete()") Delete
                    span.feedbackNote-Vote(rb-button, ng-click="vote()") Vote
                .feedbackNote-Votes {{note.votes ? note.votes : ''}}
            div(ng-repeat="category in categories", rb-group, class="feedbackGrouping", ng-style="{backgroundImage: category.image}")
                h1 {{category.title}}
        footer
            span(ng-click="addNote()", rb-button, ng-hide="true") Add
            input(type="text", placeholder="Feedback description", ng-enter="addNote()", ng-model="noteText")
            span(ng-click="exportNotes()", rb-button) Export

            .ui-widget-overlay.ui-front(ng-show="showOverlay", ng-style="{zIndex: topLevel + 1}")
